*{
  margin: 50;
  padding:100;
  font-family:sans-serif;
}
header{
  background-image: url(../3.jpg);
  height:100vh;
  background-size: auto;
  background-position: center;
}
ul{
  float: right;
  list-style-type: none;

}
ul li{
  display: inline-block;
}
